.browser {

    .tabs {
        padding: 0;
    }

    .meta {
        font-size: 0.8em;
        color: #999;
        font-weight: normal;
    }

    .breadcrumbs {
        margin: 10px 0;
        padding: 5px;

        background-color: #ddd;

        > :first-child {
            padding-top: 0;
        }

        > * {
            margin-right: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        > a {
            display: inline-block;
            *display: inline;
            zoom: 1;
            max-width: 200px;
        }


        > h3 {
            margin: 0;
            padding-top: 5px;
            font-size: 1.4em;
            width: 100%;
        }
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 10px 0;
        max-height: 400px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 1ex;
        }

        &::-webkit-scrollbar-thumb:vertical {
            background: rgba(0, 0, 0, 0.2);
            -webkit-border-radius: 1ex;
        }

        li {
            > * {
                max-width: 450px;
                display: inline-block;
                *display: inline;
                zoom: 1;
                vertical-align: middle;
            }

            button {
                margin-right: 10px;
            }

            &.folder {
                font-weight: bold;
            }

            &.added {
                color: #aaa;
                background-color: #eee;
                text-shadow: 1px 1px 0 #fff;
            }

            &:first-child {
                border-top: 1px dotted #999;
            }

            border-bottom: 1px dotted #999;
            padding: 5px 10px;
            list-style: none;
            text-shadow: 1px 1px 0 #fff;
        }
    }

    form {
        margin: 10px 0;
        padding: 5px;
        background-color: #ddd;

        > * {
            vertical-align: middle;
        }
    }

    input {
        -moz-box-shadow: inset 2px 2px 3px 0px #ddd;
        -webkit-box-shadow: inset 2px 2px 3px 0px #ddd;
        box-shadow: inset 2px 2px 3px 0px #ddd;
        -moz-border-radius: 15px 15px 15px 15px;

        border-radius: 15px 15px 15px 15px;
        background: #fff url(../../images/search.png) no-repeat 3px;
        padding: 2px 5px 2px 21px;
        border: 1px solid #999;
        width: 200px;
    }

    /* only choices should convey this behavior */
    .choices li.folder {
        background-image: url('../../images/right-arrow.png');
        background-repeat: no-repeat;
        background-position: 98% center;

        &:hover {
            cursor: pointer;
            background-color: #eee;
        }
    }

    .results {
        > .start, .empty {
            border: none !important;
            background-color: #eee;
            padding: 20px;
            text-align: center;
            font-size: 1.3em;
            font-weight: bold;
            color: #aaa;
        }
    }

}
