@import "bourbon/bourbon";

@function is-dark-on-light($color, $bgcolor) {
    @return lightness($bgcolor) > lightness($color);
}

@mixin clean-button($start, $stop: none, $color: #333) {
    @if $stop == none {
        $stop: darken($start, 10);
    }

    @include border-radius(3px);
    @include linear-gradient(top, $start, $stop);

    border: 1px solid darken($stop, 5);
    border-bottom: 1px solid darken($stop, 10);
    color: $color;
    line-height: 1;
    font-weight: bold;

    @if is-dark-on-light($color, $start) {
        text-shadow: 0 1px 1px $start;
    } @else {
        text-shadow: 0 1px 1px darken($stop, 10);
    }

    &:hover {
        @include linear-gradient(top, darken($start, 10), darken($stop, 10));
        border: 1px solid darken($stop, 10);
        border-bottom: 1px solid darken($stop, 20);
        cursor: pointer;
        @if is-dark-on-light($color, $start) {
            text-shadow: 0 1px 1px darken($start, 10);
        } @else {
            text-shadow: 0 1px 1px darken($stop, 30);
        }
    }
}


.vocab-browser {

    .tabs {
        padding: 0;
    }

    .meta {
        font-size: 0.8em;
        color: #999;
        font-weight: normal;
    }

    .list {
        list-style: none;
        margin: 10px 0;
        padding: 0;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 1ex;
        }

        &::-webkit-scrollbar-thumb:vertical {
            @include border-radius(1ex);
            background: rgba(0, 0, 0, 0.2);
        }

        li {
            @include inline-block;
            width: 98%;

            > * {
                @include inline-block;
                max-width: 88%;
                vertical-align: middle;
            }

            .status {
                display: none;
                input { min-width: 0; width: auto; }
                label { margin-right: 5px; }
            }

            button {
                margin-right: 10px;
            }

            &.folder {
                font-weight: bold;
            }

            &.added {
                color: #aaa;
                background-color: #eee;
                text-shadow: 1px 1px 0 #fff;
            }

            &:first-child {
                border-top: 1px solid #ccc;
            }

            padding: 5px;
            border-bottom: 1px solid #ccc;
            text-shadow: 1px 1px 0 #fff;
        }
    }

    form {
        @include border-radius(3px);
        margin: 10px 0;
        padding: 5px;
        background-color: #ddd;

        > * {
            vertical-align: middle;
        }
    }

    input {
        @include box-shadow(inset 2px 2px 3px 0 #ddd);
        @include border-radius(15px);
        background: #fff url(../../images/search.png) no-repeat 3px;
        padding: 2px 5px 2px 21px;
        border: 1px solid #999;
        width: 200px;
    }

    .vocab-breadcrumbs {
        @include border-radius(3px);
        margin: 10px 0;
        padding: 8px 5px 7px 5px;

        background-color: #ddd;

        .breadcrumb-arrow {
            margin: 0 5px;
        }

        > * {
            @include inline-block;
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .vocab-browse-results, .vocab-search-results {
        height: 300px;
    }

    .vocab-browse-results li.folder {
        background-image: url('../../images/right-arrow.png');
        background-repeat: no-repeat;
        background-position: 98% center;

        &:hover {
            cursor: pointer;
            background-color: #eee;
        }
    }

    .vocab-search-results {
        > .start, .empty {
            border: none !important;
            text-align: center;
            font-size: 1.3em;
            font-weight: bold;
            color: #aaa;
        }
    }

    .vocab-staging {

        ul {
            min-height: 35px;
            padding: 0;
            list-style: none;

            &.placeholder {
                min-height: 33px;
                border: 1px dashed #aaa;
                background-color: #fff;
            }
        }

        li {
            cursor: move;
            font-size: 12px;
            padding: 5px 10px;
            border: 1px solid #ddd;
            border-top: none;

            &:first-child {
                border-top: 1px solid #ddd;
            }

            .text {
                @include inline-block;
                max-width: 435px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            button {
                margin-right: 10px;
            }
        }
    }
}

#vocab-optional li {
    background-color: #eee;
}

#vocab-require li {
    background-color: #dbfed8;
    border-color: darken(#dbfed8, 20);
}

#vocab-exclude li {
    background-color: #ffdbdc;
    border-color: darken(#ffdbdc, 10);
}
