.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.searchIdle {
    background: #fff url('../img/icons/magnifier.png') no-repeat 5px;
    padding: 2px 5px 2px 25px;
    border: 1px solid #aaa;
    -moz-border-radius: 10px;
    border-radius:10px;
}
.searchAjax {
    background: #fff url('../img/ajax-loader-d16.gif') no-repeat 5px;
    padding: 2px 5px 2px 25px;
    border: 1px solid #aaa;
    -moz-border-radius: 10px;
    border-radius:10px;
}

ul.browser-section li.browser-item {
    list-style: none;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    width:100%;
}

ul.browser-section li.browser-item.folder {
    background-image:url('../img/icons/play_9x12.png');
    background-repeat:no-repeat;
    background-position:right;
}

ul.browser-section li.search-item {
    list-style: none;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    width:100%;
}

ul.browser-section li.selected-item {
    list-style: none;
    margin: 0px 5px 0px 0px;
    padding: 0px;
    width:auto;
    background-color:#ccdddd;
}

ul#members {
    width:45em;
}

#browser, #results, #browser_list{
    height:19em;
    width:auto;
    overflow-y:auto;
    overflow-x:hidden;
}

.button-add {
    margin-right:20px;
    position:absolute;
    float:left;
}
.button-descend{
    height:16px;
    width:10px;
    float:right;
}

#button-back {
    margin-left:1px;
    margin-right:16px;
    padding-bottom:0px;
    margin-bottom:0px;
}

#selected{
    height:10em;
    width:auto;
    overflow-y:auto;
    overflow-x:hidden;
}

#nav{
    margin-bottom:.5em;
}

.custom_attr {
    font-size:12px;
}

.node_path {
    font-size:10px;
    color:grey;
}
.node_item_right{
    float:left;
    position:relative;
    width:auto;
}
.node_item_left{
    float:left;
    position:relative;
    width:4em;
    height:25px;
}

.floatclear {
    float:clear;
}

ul.browser-section li.browser-item.list_on {
    border-style:solid;
    border-width:1px;
    border-color:black;
    cursor:pointer;
}
ul.browser-section li.search-item.list_on {
    border-style:solid;
    border-width:1px;
    border-color:black;
    cursor:pointer;
}

ul.browser-section li.browser-item.added{
    background-color:#ccdddd;
}
ul.browser-section li.search-item.added {
    background-color:#ccdddd;
}
.path_node.over{
    cursor:pointer;
    font-size:12px;
}

.hovercrumbs{
    cursor:pointer;
    font-size:15px;
    border-bottom:solid;
    border-width:1px;
}
.breadcrumb{
    display:inline;
}

.browser-section li {
    border: 1px solid #DDDDDD;
    list-style: none;
    margin:0px;
}
.browser-section {
    margin:0px;
    list-style:none;
    padding:0px;
}

.hidden{
    display:none;
}

.search-item{
    float:left;
}
