#browser-breadcrumbs {
    height: 12px;
    font-size: 0.8em;
    margin: 10px 0;
    padding: 0 10px;

}

#browser-breadcrumbs > * {
    margin-right: 5px;
}

#browser .browser-content {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 400px;
    overflow: auto;
}

#browser .browser-content::-webkit-scrollbar {
    width: 1ex;
}

#browser .browser-content::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1ex;
}

#browser .browser-content li {
    border-bottom: 1px dotted #999;
    padding: 5px 10px;
    list-style: none;
    text-shadow: 1px 1px 0 #fff;
}

#browser .browser-content li > * {
    max-width: 450px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

#browser .browser-content li .meta {
    font-size: 0.8em;
    color: #999;
    font-weight: normal;
}

#browser .browser-content li:first-child {
    border-top: 1px dotted #999;
}

#browser .browser-content li button {
    margin-right: 10px;
}

#browser .browser-content li.folder {
    font-weight: bold;
}

#browser .browser-content li.added {
    color: #fff;
    background-color: #666;
    text-shadow: 1px 1px 0 #000;
}

#browser .browser-content li.added:hover {
    background-color: #666;
}

#browser .browser-content li.added .meta {
    color: #ddd;
}

#browser form {
    margin-top: 10px;
    padding: 0 10px;
}

#browser form input {
    -moz-box-shadow: inset 2px 2px 3px 0px #ddd;
    -webkit-box-shadow: inset 2px 2px 3px 0px #ddd;
    box-shadow: inset 2px 2px 3px 0px #ddd;
    -moz-border-radius: 15px 15px 15px 15px;

    border-radius: 15px 15px 15px 15px;
    background: #fff url(../img/icons/search.png) no-repeat 3px;
    padding: 2px 5px 2px 21px;
    border: 1px solid #999;
}

/* only browser-choices should convey this behavior */
#browser-choices li.folder {
    background: transparent url('../img/icons/play_9x12.png') no-repeat 98% center;
}

#browser-choices li.folder:hover {
    cursor: pointer;
    background-color: #eee;
}
